*{
  color: black;
  background-color: chartreuse;
}


h1{
  color: bisque;
  background-color: brown;
  margin: 0;
  padding: 0;
  text-align: center;
  
}
div{
  height: 400px;
  width: 400px;
  margin-top: 12px;
  padding: 0;
}
h3{
  margin-top: 20px;
  color: #000;
  height: 500px;
  width: 500px;
}
p{
  color: antiquewhite;
  background-color: crimson;
}
